
<app-header></app-header>


<form (ngSubmit)="addMenuitem()" #addform="ngForm">

   <div class="col-md-7 col-md-offset-3">
    <div class="panel panel-primary">
  <div class="panel-body">
    <h2 *ngIf="item_id==0" >Add Menuitem Here</h2>
    <h2 *ngIf="item_id!=0" >Edit Category Here</h2>
  </div>

<!--<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Enter table id:</span>
  <td><input type="number" name="table_id" [(ngModel)]="table_id"/></td>
</div>
<br/>-->

<div class="container-fluid">
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Select Restaurant name:</span>
  <select class="form-control" id="fk_rest_id" 
[(ngModel)]="fk_rest_id" name="fk_rest_id"
required>
<option *ngFor="let s of allRest" [value]="s.rest_id">{{s.rest_name}}</option>
</select>
</div>
<br/>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Enter Item name:</span>
  <td><input type="text" name="item_name" [(ngModel)]="item_name"/></td>
</div>
<br/>


<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Enter Item price:</span>
  <td><input type="number" name="item_price" [(ngModel)]="item_price"/></td>
</div>
<br/>

<div class="col-md-offset-5">
<div class="btn-group">
  <button type="submit" *ngIf="item_id==0" [disabled]="!addform.form.valid" class="btn btn-primary">
    add Menuitem
  </button>

  </div>
  <div class="btn-group">
  <button type="submit" *ngIf="item_id!=0" [disabled]="!addform.form.valid" class="btn btn-primary">
    Edit Menuitem
  </button>
  </div>
  </div>
  <br/><br/>
</div>
</div>
</div>
</form>
