<app-header></app-header>
<div class="row"> 
  <!--<div class="col-md-8 col-md-offset-11">
<a routerLink="/addbooktables"><button  type="button" class="btn btn-primary">
<span class="glyphicon glyphicon-plus-sign" ></span></button></a>
</div>-->
<!--<div class="col-md-8 col-md-offset-11">
<button (click)='addBooktable(item)' type="button" class="btn btn-primary">
<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
</div>-->

</div>
<table class="table">
    <tr>
     <th>Review id</th>
      <th>User_email</th>
      <th>Rest_id</th>
      <th>Review Message</th>
      <th>review_date</th>
      
      </tr>
    <tr *ngFor="let item of allReview">
  <td>{{item.review_id}}</td>
   <td>{{item.fk_user_email}}</td>
  <td>{{item.fk_rest_id}}</td>
 <td>{{item.review_message}}</td>
  <td>{{item.review_date}}</td>
  
 
<td><button (click)='deleteReview(item)' type="button" class="btn btn-danger">
<span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>

   </tr>
  </table>
