
<app-header></app-header>

  
 
<form (ngSubmit)="addBooktable()" #addform="ngForm">

  <div class="col-md-7 col-md-offset-3">
    <div class="panel panel-primary">
  <div class="panel-body">
    <h2 *ngIf="table_id==0" >Add Booktable Here</h2>
  </div>
  
<!--<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Enter table id:</span>
  <td><input type="number" name="table_id" [(ngModel)]="table_id"/></td>
</div>
<br/>-->
 
    
<!--<h2 *ngIf="table_id!=0" >Add Booktable Here</h2>-->
<div class="container-fluid">
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Enter user email:</span>
  <td><input type="text" name="fk_user_email" [(ngModel)]="fk_user_email" /></td>
</div>
<br/>
 
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Select Restaurant:</span>
  <!--<input type="number" name="fk_rest_id" [(ngModel)]="fk_rest_id" />-->
  <select class="form-control" id="fk_rest_id" 
[(ngModel)]="fk_rest_id" name="fk_rest_id"
required>
<option *ngFor="let s of allRest" [value]="s.rest_id">{{s.rest_name}}</option>
</select> 
</div>
<br/>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Enter date:</span>
  <td><input type="text" name="date" [(ngModel)]="date"/></td>
</div>
<br/>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Enter no of people:</span>
  <td><input type="number" name="no_of_people" [(ngModel)]="no_of_people"/></td>
</div>
<br/>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Enter time:</span>
  <td><input type="text" name="time" [(ngModel)]="time"/></td>
</div> 
<br/> 

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Enter additional request:</span>
  <td><input type="text" name="additional_request" [(ngModel)]="additional_request"/></td>
</div>
<br/>

<div class="col-md-offset-5">
<div class="btn-group">
  <button type="submit" [disabled]="!addform.form.valid" class="btn btn-primary">
    add Booktable
  </button>
  </div></div>
  <br/><br/>
</div>
</div>
</div>
</form>
