<app-header></app-header>
<div class="row"> 

  <div class="panel panel-default">
  <div class="panel-body">
 
    
  <!--<div class="col-md-8 col-md-offset-11">
<a routerLink="/addbooktables"><button  type="button" class="btn btn-primary">
<span class="glyphicon glyphicon-plus-sign" ></span></button></a>
</div>-->
<div class="col-md-8 col-md-offset-11">
<button (click)='addBooktable(item)' type="button" class="btn btn-primary">
<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
</div>
</div>
<div class="container-fluid">
<table class="table">

    <tr>
     <th>Table id</th>
      <th>Restaurant name</th>
      <th>User_email</th>
      <th>Date</th>
      <th>No of people</th>
      <th>Time</th>
      <th>Additional request</th>
      </tr>
    <tr *ngFor="let item of allBooktable">
  <td>{{item.table_id}}</td>
  <td>{{item.rest_name}}</td>
    <td>{{item.fk_user_email}}</td>
  <td>{{item.date}}</td>
  <td>{{item.no_of_people}}</td>
  <td>{{item.time}}</td>
  <td>{{item.additional_request}}</td>
 
<td><button (click)='deleteBooktable(item)' type="button" class="btn btn-danger">
<span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>

   </tr>
  </table>
</div>
  </div>
</div>
